# Homework 2

In [18]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

 1. 1.	Load data with Pandas and output the basic information of this dataset, such as the features and their data types.

In [19]:
df = pd.read_csv('Data_Plant.csv')

In [20]:
df.head()

,39527.25,27.46636009,27.62891006,8.822265625,5.396483898,1691.651001,7.366691113,78.55264282,13.51465034,36.84375,...,3.066406012,55.95146179,71.27528381,30.65937042,30.5925808,375845.3125,45.99155045,3.265625,2.267400026,1.721600056
0,39527.25208,27.471821,27.566410,8.869142,5.396484,1698.780029,7.370453,78.717918,13.69824,36.84375,...,3.037109,55.956829,71.275284,30.619141,30.603519,380038.1875,45.984451,3.265625,2.267195,1.720545
1,39527.25417,27.477289,27.539061,8.734374,5.404296,1703.457031,7.374215,78.399452,13.74219,36.84375,...,3.066406,55.962200,71.275284,30.607910,30.572269,389348.0000,45.977341,3.243652,NaN,1.700500
2,39527.25625,27.482759,NaN,8.734374,5.427734,1699.296997,7.377976,78.485107,13.86719,36.84375,...,3.059082,55.967579,71.275284,30.592581,30.598829,385134.5938,45.970242,3.265625,2.263300,1.700500
3,39527.25833,27.488220,27.476561,8.756347,5.427734,1686.083984,7.381738,78.517532,13.74219,36.84375,...,3.037109,55.972950,71.275284,30.648439,30.616800,359803.0000,45.963131,3.265625,2.263300,1.700500
4,39527.26042,27.493690,27.468750,8.756347,5.427734,1691.494019,7.385500,78.575523,13.68359,36.84375,...,3.037109,55.978321,71.275284,30.632811,30.576960,376974.5938,45.956032,3.265625,2.263300,1.700500

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7199 entries, 0 to 7198
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   39527.25     7199 non-null   float64
 1   27.46636009  7198 non-null   float64
 2   27.62891006  7198 non-null   float64
 3   8.822265625  7199 non-null   float64
 4   5.396483898  7199 non-null   float64
 5   1691.651001  7199 non-null   float64
 6   7.366691113  7199 non-null   float64
 7   78.55264282  7199 non-null   float64
 8   13.51465034  7199 non-null   float64
 9   36.84375     7199 non-null   float64
 10  49.53516006  7198 non-null   float64
 11  89.08007813  7199 non-null   float64
 12  92.59375     7199 non-null   float64
 13  99.771492    7198 non-null   float64
 14  8588.513672  7198 non-null   float64
 15  60.45621872  7199 non-null   float64
 16  45.68021011  7198 non-null   float64
 17  3.066406012  7199 non-null   float64
 18  55.95146179  7198 non-null   float64
 19  71.27528381  7199 non-null   float64
 20  30.65937042  7199 non-null   float64
 21  30.5925808   7198 non-null   float64
 22  375845.3125  7199 non-null   float64
 23  45.99155045  7199 non-null   float64
 24  3.265625     7199 non-null   float64
 25  2.267400026  7198 non-null   float64
 26  1.721600056  7197 non-null   float64
dtypes: float64(27)
memory usage: 1.5 MB

In [22]:
df.describe()

,39527.25,27.46636009,27.62891006,8.822265625,5.396483898,1691.651001,7.366691113,78.55264282,13.51465034,36.84375,...,3.066406012,55.95146179,71.27528381,30.65937042,30.5925808,375845.3125,45.99155045,3.265625,2.267400026,1.721600056
count,7199.000000,7198.000000,7198.000000,7199.000000,7199.000000,7199.000000,7199.000000,7199.000000,7199.000000,7199.000000,...,7199.000000,7198.000000,7199.000000,7199.000000,7198.000000,7199.000000,7199.000000,7199.000000,7198.000000,7197.000000
mean,39534.750000,27.127295,27.953209,9.593198,6.395699,1701.915367,11.555007,76.332696,18.356032,37.815861,...,3.620778,52.985809,70.771369,30.648593,30.609367,386035.274340,45.167884,3.841032,2.114043,0.692348
std,4.329826,0.674680,0.698533,0.630545,0.952640,99.738546,2.901431,3.595688,3.648891,1.768092,...,0.623456,1.915064,1.725054,0.192165,0.194832,18811.255389,14.682053,0.619553,0.637675,17.474702
min,39527.252080,24.231501,24.593750,7.673828,4.951172,687.060486,6.780738,18.643391,8.441406,35.882809,...,2.455078,47.744381,0.000000,29.974609,30.035160,236985.406300,12.223560,0.000000,-8.956800,-320.799988
25%,39531.001040,26.652867,27.507811,9.191404,5.640625,1659.447998,9.108021,74.057091,15.921870,37.166019,...,3.158203,51.530783,71.275284,30.534136,30.497549,375581.046900,38.216480,3.388672,1.930599,1.390500
50%,39534.750000,27.109890,27.906250,9.570802,6.177734,1697.920044,11.137910,76.542381,19.292971,37.535160,...,3.511719,53.136414,71.275284,30.603519,30.573830,386836.500000,47.806690,3.737500,2.160500,1.642300
75%,39538.498960,27.518567,28.394529,9.923826,6.958984,1751.557495,13.789635,78.800842,21.316410,37.904301,...,4.030078,54.495871,71.275284,30.724609,30.679689,397080.296900,55.019815,4.246094,2.328500,1.789600
max,39542.247920,47.017712,42.443359,17.277340,19.515141,2235.039063,26.766680,84.796471,29.253910,64.715332,...,15.594240,57.336620,71.275284,31.686710,31.644920,643457.375000,90.493187,14.015130,4.172300,135.899994

2.	Check for missing values in the dataset. Use the attribute mean to fill in the missing value.

In [23]:
df.isnull().sum().sum()

np.int64(11)

In [24]:
df.isnull().any()

39527.25       False
27.46636009     True
27.62891006     True
8.822265625    False
5.396483898    False
1691.651001    False
7.366691113    False
78.55264282    False
13.51465034    False
36.84375       False
49.53516006     True
89.08007813    False
92.59375       False
99.771492       True
8588.513672     True
60.45621872    False
45.68021011     True
3.066406012    False
55.95146179     True
71.27528381    False
30.65937042    False
30.5925808      True
375845.3125    False
45.99155045    False
3.265625       False
2.267400026     True
1.721600056     True
dtype: bool

In [25]:
df.mean()

39527.25        39534.750000
27.46636009        27.127295
27.62891006        27.953209
8.822265625         9.593198
5.396483898         6.395699
1691.651001      1701.915367
7.366691113        11.555007
78.55264282        76.332696
13.51465034        18.356032
36.84375           37.815861
49.53516006        52.381661
89.08007813        89.503460
92.59375           93.034894
99.771492         100.121994
8588.513672      8483.155885
60.45621872        59.495350
45.68021011        44.760959
3.066406012         3.620778
55.95146179        52.985809
71.27528381        70.771369
30.65937042        30.648593
30.5925808         30.609367
375845.3125    386035.274340
45.99155045        45.167884
3.265625            3.841032
2.267400026         2.114043
1.721600056         0.692348
dtype: float64

In [26]:
df_mean = df.fillna(df.mean())

In [27]:
df_mean.head()

,39527.25,27.46636009,27.62891006,8.822265625,5.396483898,1691.651001,7.366691113,78.55264282,13.51465034,36.84375,...,3.066406012,55.95146179,71.27528381,30.65937042,30.5925808,375845.3125,45.99155045,3.265625,2.267400026,1.721600056
0,39527.25208,27.471821,27.566410,8.869142,5.396484,1698.780029,7.370453,78.717918,13.69824,36.84375,...,3.037109,55.956829,71.275284,30.619141,30.603519,380038.1875,45.984451,3.265625,2.267195,1.720545
1,39527.25417,27.477289,27.539061,8.734374,5.404296,1703.457031,7.374215,78.399452,13.74219,36.84375,...,3.066406,55.962200,71.275284,30.607910,30.572269,389348.0000,45.977341,3.243652,2.114043,1.700500
2,39527.25625,27.482759,27.953209,8.734374,5.427734,1699.296997,7.377976,78.485107,13.86719,36.84375,...,3.059082,55.967579,71.275284,30.592581,30.598829,385134.5938,45.970242,3.265625,2.263300,1.700500
3,39527.25833,27.488220,27.476561,8.756347,5.427734,1686.083984,7.381738,78.517532,13.74219,36.84375,...,3.037109,55.972950,71.275284,30.648439,30.616800,359803.0000,45.963131,3.265625,2.263300,1.700500
4,39527.26042,27.493690,27.468750,8.756347,5.427734,1691.494019,7.385500,78.575523,13.68359,36.84375,...,3.037109,55.978321,71.275284,30.632811,30.576960,376974.5938,45.956032,3.265625,2.263300,1.700500

In [36]:
df_mean.isnull().sum().sum()

np.int64(0)

3.	Split the preprocessed data for training, validation and testing. The data should be split will be 70% training, 15% validation and the testing will be 15%. Show the length of each split.

In [34]:
x_train, x_temp = train_test_split(df_mean, test_size = 0.30, random_state=42)
x_val, x_test = train_test_split(x_temp, test_size=0.50, random_state=42)
print(len(x_train))
print(len(x_test))
print(len(x_val))

5039
1080
1080

4.	Using any transformation methods, normalize/standardize all numerical features.

In [37]:
#standard scale
#scaler = StandardScaler().fit(x_train2)
#df_scaled = scaler.transform(x_train2)

#log transformation
def log_transform(x):
    return np.log(x+1)

df_log = log_transform(df_mean)
print(df_log)

       39527.25  27.46636009  27.62891006  8.822265625  5.396483898  \
0     10.584771     3.348915     3.352232     2.289413     1.855748
1     10.584771     3.349107     3.351274     2.275663     1.856969
2     10.584771     3.349299     3.365681     2.275663     1.860622
3     10.584771     3.349491     3.349081     2.277918     1.860622
4     10.584771     3.349683     3.348807     2.277918     1.860622
...         ...          ...          ...          ...          ...
7194  10.585150     3.318790     3.366083     2.334682     1.913873
7195  10.585150     3.318220     3.364058     2.331698     1.915486
7196  10.585150     3.317650     3.370389     2.334682     1.918472
7197  10.585150     3.317079     3.366083     2.334682     1.918472
7198  10.585150     3.316508     3.363301     2.334682     1.918472

      1691.651001  7.366691113  78.55264282  13.51465034  36.84375  ...  \
0        7.438254     2.124708     4.378494     2.687728  3.633466  ...
1        7.441002     2.125157     4.374491     2.690713  3.633466  ...
2        7.438558     2.125606     4.375570     2.699157  3.633466  ...
3        7.430757     2.126055     4.375978     2.690713  3.633466  ...
4        7.433958     2.126504     4.376707     2.686731  3.633466  ...
...           ...          ...          ...          ...       ...  ...
7194     7.365399     2.258495     4.340951     2.606156  3.645623  ...
7195     7.359604     2.259853     4.340803     2.610759  3.645623  ...
7196     7.364410     2.261208     4.342070     2.624159  3.647213  ...
7197     7.355713     2.262562     4.341477     2.637382  3.648068  ...
7198     7.353182     2.263914     4.341250     2.646285  3.648068  ...

      3.066406012  55.95146179  71.27528381  30.65937042  30.5925808  \
0        1.395529     4.042294     4.280482     3.453763    3.453268
1        1.402760     4.042388     4.280482     3.453407    3.452279
2        1.400957     4.042482     4.280482     3.452922    3.453120
3        1.395529     4.042577     4.280482     3.454689    3.453689
4        1.395529     4.042671     4.280482     3.454195    3.452428
...           ...          ...          ...          ...         ...
7194     1.486122     3.955766     4.280482     3.467687    3.467931
7195     1.490707     3.955905     4.280482     3.468418    3.468661
7196     1.493167     3.956044     4.280482     3.468661    3.469148
7197     1.490707     3.956184     4.280482     3.468661    3.468661
7198     1.493167     3.956323     4.280482     3.467931    3.469148

      375845.3125  45.99155045  3.265625  2.267400026  1.721600056
0       12.848030     3.849817  1.450589     1.183932     1.000832
1       12.872231     3.849665  1.445424     1.135922     0.993437
2       12.861351     3.849514  1.450589     1.182739     0.993437
3       12.793315     3.849363  1.450589     1.182739     0.993437
4       12.839936     3.849212  1.450589     1.182739     0.993437
...           ...          ...       ...          ...          ...
7194    12.827527     3.821095  1.543231     1.151173     0.697637
7195    12.792691     3.815856  1.536951     1.151173     0.697637
7196    12.808087     3.810590  1.536951     1.151173     0.697637
7197    12.774615     3.805295  1.543231     1.135201     0.723531
7198    12.791672     3.799972  1.543231     1.135201     0.723531

[7199 rows x 27 columns]

c:\Users\12254\OneDrive\Documents\Semester 7\CHE 4230\Homework\env\Lib\site-packages\pandas\core\internals\blocks.py:393: RuntimeWarning: invalid value encountered in log
  result = func(self.values, **kwargs)